header{
    
    background:#12B0E8;
    background-size: 100%;
    padding: 1px 30px 15px;
    margin: 30px 15px 0px ;
    text-align: center;
    opacity: 0.9;
}
nav a{
    text-align: center;
    display: inline-block;
    color: #5e0087;
    background: #4DD637 ;
    font-size: 20px;
    margin: 10px 30px 5px 50px;
    text-decoration: none;
    padding: 5px 40px;
    border-radius: 3px;
        
}

nav a:hover{
    color: #5e0087;
    background: #CAD5E2;

}




.active{
    color: #5e0087;
    background: #4DD637;
}

nav a:{
    color: #5e0087;
    background: rgb(255,255,255);
}

nav a:first-child{
    margin: 10px 30px 0px 70px;
}


body{
    background-image: url("background2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
h1,h3,h2{
    color: #5e0087;
}
h2{
    text-align: center;
    text-decoration: bold;
    font-size: 3em;
}

@media only screen and (max-width: 600px) {
  header{
    
    background:#8D3DAF;
    background-size: 100%;
    padding: 1px 15px 7px;
    margin: 15px 7px 0px ;
    text-align: center;
    opacity: 0.9;
    font-color:#FFFF00;
}
nav a{
    text-align: center;
    display: inline-block;
    color: #FFFF00;
    background: #4DD637 ;
    font-size: 15px;
    margin: 5px 15px 2px 25px;
    text-decoration: none;
    padding: 2px 20px;
    border-radius: 1px;
        
}
nav a:hover{
    color: #FFFF00;
    background: #CAD5E2;

}
.active{
    color: #FFFF00;
    background: #4DD637;
}
nav a:{
    color: #FFFF00;
    background: rgb(255,255,255);
}
/*nav a:first-child{
    margin: 10px 30px 0px 70px;
}*/
body{
  background: url("background2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}h1{
  color: #4169E1;
  font-size: 30px;
}
h2{
  color:#00ff00;
}
h3{
  color:#8D3DAF;
  font-size: 20px;
}
h2{
  text-align: center;
  text-decoration: bold;
  font-size: 30px;
}
}

@media only screen and (max-width: 360px) {
  header{
    
    background:#8D3DAF;
    background-size: 100%;
    padding: 1px 7px 3px;
    margin: 7px 3px 0px ;
    text-align: center;
    opacity: 0.9;
    font-color:#FFFF00;
}
nav a{
    text-align: center;
    display: inline-block;
    color: #FFFF00;
    background: #4DD637 ;
    font-size: 9px;
    margin: 2px 7px 1px 13px;
    text-decoration: none;
    padding: 1px 10px;
    border-radius: 1px;
        
}
nav a:hover{
    color: #FFFF00;
    background: #CAD5E2;

}
.active{
    color: #FFFF00;
    background: #4DD637;
}
nav a:{
    color: #FFFF00;
    background: rgb(255,255,255);
}
/*nav a:first-child{
    margin: 10px 30px 0px 70px;
}*/
body{
  background: url("background2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}h1{
  color: #4169E1;
  font-size: 20px;
}
h2{
  color:#00ff00;
}
h3{
  color:#8D3DAF;
  font-size: 15px;
}
h2{
  text-align: center;
  text-decoration: bold;
  font-size: 25px;
}
}
